.relations-section {
    padding: 80px 150px;
    .relations-section-header {
        text-align: center;
        color: $color;
        font-size: 50px;
        font-weight: 700;
        line-height: 61px;
        margin-bottom: 50px;
    }
    .relations-section-body {
        display: flex;
        justify-content: space-between;
        .relation-box {
            // width: 30%;
            width: 370px;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .relations-section {
        padding: 80px;
    }
}
@media only screen and (max-width: 1024px) {
    .relations-section {
        padding: 80px 0;
        width: 85%;
        margin: 0 auto;
        .relations-section-body {
            .relation-box {
                width: 280px;
                height: 200px;
            }
        }
    }
}
@media only screen and (max-width: 415px) {
    .relations-section {
        padding: unset;
        .relations-section-header {
            padding-top: 50px;
        }
        .relations-section-body {
            flex-direction: column;
            align-items: center;
            .relation-box {
                width: 215px;
                height: 125px;
                margin: 20px 0;
                .text-container {
                    font-size: 12px;
                    line-height: 17px;
                }
                .image-box {
                    margin: 0 auto 5px;
                }
            }
        }
    }
}
@media only screen and (max-width: 375px) {
    .relations-section {
        .relations-section-header {
            font-size: 40px;
        }
    }
}
